@font-face {
  font-family: 'Major Mono Display';
  src: url('/fonts/MajorMonoDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Dank Mono';
  src: url('/fonts/Dank Mono Regular.otf');
}
body{
    font-family: 'Dank Mono', monospace;
    background-color: rgba(6, 14, 23, 60);
}

h2{
  font-family: 'Major Mono Display', monospace !important;
}

h3{
  font-family: 'Dank Mono';
  color: #007474
}
button:hover{
  background-color: darkcyan;
  transition: .5s;
}
button:hover:after{
  background-color: #007474 !important;
  transition: .5s !important;
}
button{
  background-color: #007474;
}
a{
  text-decoration: none;
}
.download-btn{
  border-radius: 0.75em;
  border-color: #007474;
  display: inline-block;
}
.f-ico{
  display: flex;
  flex-direction: row;
  align-items: center;
}